<div class="container">
  <div class="row">
    <div class="col-6">
      <br>
      <h3>My Assets</h3>
      <br>
      <% @sorted_assets.each do |asset_type_group| %>
        <% asset_type_group[1].each do |asset| %>
          <ul>
            <li>
              <div class="row">
                <div class="col-6">
                  <p><%= asset.currency %> <%= asset.amount %> in <%= asset.asset_type %></p>
                </div>
                <div class="col-6 align-right">
                  <p><%=link_to "View Expenses", wallet_asset_path(@wallet,asset) %></p>
                </div>
              </div>
              <p>Last updated on <%= asset.updated_at %></p>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="col-6">
      <br>
      <h3>Add Asset</h3>
      <br>
      <%= simple_form_for([@wallet, @asset]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="inline-fields">
            <%= f.input :amount %>
            <%= f.input :currency %>
          </div>
          <%= f.input :asset_type %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "button primary-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-6">
      <br>
      <h3>My Expenses</h3>
      <br>
      <% @wallet.expenses.each do |expense| %>
        <ul>
          <li>
            <p> <%= expense.currency %> <%= expense.amount %> in <%= expense.method %> paid on <%= expense.date %></p>
            <p> <%= expense.category %>: <%= expense.description %> </p>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="col-6">
      <br>
      <h3>Report Expense</h3>
      <br>
      <%= simple_form_for([@wallet, @expense]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.association :asset, as: :select, collection: @wallet.assets, prompt: 'Select Asset', label_method: :collection_title, value_method: :id, label: false %>
          <%= f.input :date %>
          <%= f.input :amount %>
          <%= f.input :category %>
          <%= f.input :description %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "button primary-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
