<br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <h3>My Assets</h3>
      <% @sorted_assets.each do |asset_type_group| %>
        <% asset_type_group[1].each do |asset| %>
          <div>
            <div class="row">
              <div class="col-6">
                <p> <b> <%= asset.currency %> <%= asset.amount %> </b> in <%= asset.asset_type %></p>
                <p>Last updated: <%= asset.updated_at %></p>
              </div>
              <div class="col-6 align-right">
                <p><%=link_to "View Expenses", wallet_asset_path(@wallet,asset) %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-12 col-lg-6">
      <h3>Add Asset</h3>
      <%= simple_form_for([@wallet, @asset]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="inline-fields half-width">
            <%= f.input :amount %>
            <%= f.input :currency %>
          </div>
          <%= f.input :asset_type %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "button primary-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>My Expenses</h3>
      <% @wallet.expenses.each do |expense| %>
        <div>
          <p> <%= expense.currency %> <%= expense.amount %> in <%= expense.method %> paid on <%= expense.date %></p>
          <p> <%= expense.category %>: <%= expense.description %> </p>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <h3>Report Expense</h3>
      <%= simple_form_for([@wallet, @expense]) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.association :asset, as: :select, collection: @wallet.assets, prompt: 'Select Asset', label_method: :collection_title, value_method: :id, label: false %>
          <%= f.input :date %>
          <%= f.input :amount %>
          <%= f.input :category %>
          <%= f.input :description %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: "button primary-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
